*{
    color: #0B24FA;
}
.where-to {
    /* position: relative; */
}
/* .where-to-icon {
    top: 25px;
} */
/*
.input_label {
    font-size: 24px;
}

.routeheader {
    font-size: 9px !important;
}

.vl {
    border-left: 2px solid #0B24FA;
    height: 105px;
}

.route_white,
.route_purple {
    border-radius: 20px;
    width: 100%;
}

.route_white {
    background-color: #F7F7F7;
    color: #0B24FA;
}

.route_purple {
    background-color: #6406A8;
    color: #fff;
}

.fulfilled_location,
.timeline {
    color: #0B24FA;
}

.fulfilled_locationwhite {
    color: #fff;
}

.fulfilled_location h3,
.fulfilled_locationwhite h3 {
    font-size: 10px;
    text-transform: uppercase;
}

.fulfilled_location p,
.fulfilled_locationwhite p,
.route_image a {
    font-size: 6px !important;
}

.route_image img {
    height: auto;
    width: 64px;
}

.fulfilled img {
    border-radius: 50%;
    height: 20px;
    width: auto;
    margin-left: 2px;
}

.fulfilled_notification {
    color: #fff;
    background-color: #FF0000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 0;
}

.activity h3 {
    font-size: 18px;
}
 */
