.contact-file-input {
    color: transparent;
  }
  .contact-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .contact-file-input::before {
    content: url(/frontend/img/svg/camera.svg);
    display: inline-block;
    outline: none;
    cursor: pointer;
  }

  form , .recordactivity{
    color: #0B24FA;
  }

  .contacts input {
    border: 2px dashed #0B24FA;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.contacts label {
    font-size: 18px;
}

.recordactivity {
    font-size: 14px;
}

form label {
    font-size: 11px;
}
