
 .form-control {
    border-left:  0px;
    border-right: 0px ;
    border-top: 0px;
    border-radius: 0px;
}


.login ::placeholder {
    color:#fff;
    font-size: 14px;
    font-weight: bold;
}

.login button {
    color: #fff;
    font-size: 12px;
    border-color: #fff;
}