.shepherd-footer {
    position: relative;
    background-color:#6406A8 !important;
}

.shepherd-header {
    padding-top: 2px !important;
}

.shepherd-button:hover,
.shepherd-button:focus {
    text-decoration: none !important;
    outline: 0;
}

.shepherd-button {
    color: #fff !important;
    background-color: #1e0530 !important;
}

.shepherd-button-secondary {
    color: #000 !important;
    background-color: #fff !important;
}

.shepherd-text {
    text-align: left;
    font-size: 12px !important;
    line-height: 1 !important;
    color: #fff !important;
    font-weight: lighter !important;
    margin-bottom: 7px;
}

.shepherd-content {
    background-color: #6406A8 !important;
}

.tippy-arrow {
    border-bottom-color: #6406A8 !important;
}

.shepherd {
    max-width: 70%;
}

.shepherd-cancel-icon span {
    color: #fff !important;
    font-size: 20px !important;
}